/env
/data/
__pycache__
/java/_temp/
/java/out/
*$py.class
*$py.class
*.class
/_temp.h5p.*
/h5p_python/__init__$py.class
/dist/
/build/
/main_gui.exe - Verknüpfung.lnk

/version.txt
/H5PTranslator.exe - Verknüpfung.lnk
